{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Terminal{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] }}" required>

        <label for="location">Location</label>
        <input name="location" id="location" value="{{ request.form['location'] }}" required>

        <label for="information">Information</label>
        <textarea name="information" id="information">{{ request.form['information'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}